/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: 'Poppins', sans-serif !important;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}




.home {
    position: absolute;
    top: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
    color: white !important;
}


.home .text {
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}

body.dark .home .text {
    color: white;
}

.menu-active {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}



.paginacao {
    padding: 20px;
}

.paginacao button {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    transition: var(--tran-05);
}