.banner{
    height: 500px;
    width: 100%;
    position: relative;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(360deg, rgb(24,25,26,1) 3.01%, rgba(19, 19, 31, 0) 100%);
}